.App {
    background-color: #121C33;
    min-height: 100vh;
    color: white;
}

.header {
    padding: 15px;
}

.project-row {
    padding-top: 15px;
    margin: auto;
}

.footer {
    display: flex;
    height: 60px;
    line-height: 60px;
    background-color: #F9F83A;
    justify-content: center;
    margin-top: 25px;
}

